$mont: 'Montserrat', sans-serif;
$PT: 'PT Serif', serif;
$purple: #d03958;
$beige: #e3d5b8;
$grey: #b5b5b5;
body {
    font-family: $mont;
    margin:0;
    padding: 0;
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
.header {
    background-image: url('../images/Road.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.bgcolor {
    background-color: rgba(227, 213, 184, .5);
    background-repeat: no-repeat;
    width: 100%;
    height: 99%;
}
.heading {
    display: flex;
    padding-top: 38px;
    margin-bottom: 120px;
    align-items: center;
}
.logo {
    width: 135px;
    height: 63px;
    background-image: url('../images/Logo.png');
    transition: 0.3s;
}
.logo:hover {
    transform: scale(1.1);
}
.header_nav {
    margin-left: auto;
}
.header_menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 30%;
}
.menu_link {
    text-decoration: none;
    color: #1b1b1b;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
    padding: 10px 15px;
    transition: all 0.3s;
}
.menu_link:hover {
    background-color: $purple;
    border-radius: 5px;
    color: white;
}
.header_article {
    margin-top: 163px;
    max-width: 493px;
    padding-bottom: 100px;
}
.header_title {
    font-family: $mont;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    color: $purple;
    margin: 0;
}
.header_title:after {
    content: 'beautiful';
    color: black;
}
.text {
    color: black;
    font-family: $PT;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 47px;
}
/*form*/
.first {
    position: relative;
}
.form_section {
    max-width: 400px;
    padding: 30px 15px;
    background-color: $purple;
    font-family: $mont;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 280px;
}
.form_title {
    display: flex;
    align-self: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    margin-top: 0;
    }
.head_form {
    display: flex;
    flex-direction: column;
}
.input {
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    height: 57px;
    font-size: 20px;
    padding-left: 20px;
}
.input::placeholder {
    color: $grey;
    font-family: $PT;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
}
.checking {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    .checkbox {
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }
    .checkbox:checked + .false_checkbox {
        background-image: url('../images/tick.png');
    }
    .false_checkbox {
        width: 19px;
        height: 18px;
        background-color: white;
        border-radius: 5px;
        background-size: 19px 18px;
        }
        .checkbox_text {
            margin-left: 23px;
            font-family: $PT;
            font-size: 20px;
            letter-spacing: -0.4px;
        }
}
.submit {
    padding: 20px 0;
    background-color: black;
    color: white;
    font-family: $mont;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit:hover {
    background-color: $beige;
    color: black;
}
/*services*/
.services-title {
    padding-top: 40px;
}
.services-title_purple {
    font-family: $mont;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: $purple;
    letter-spacing: -1px;
    margin: 0;
}
.services-title_purple:after {
    content:'services';
    color: black;
}
.services_cards {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
    margin-bottom: 65px;
}
.card {
    width: 172px;
}
.card_icon {
    width: 170px;
    height: 160px;
    background-image: url('../images/heart.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 45px;
    border-radius: 5px;
    transition: all 0.3s;
}
.card_icon:hover {
    background-color: $purple;
    transform: scale(1.1);
}
.card_text {
    font-family: $PT;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.instruments {
    background-image: url('../images/instruments.png');
}
.bulb {
    background-image: url('../images/bulb.png');
}
.measure {
    background-image: url('../images/measure.png');
}
/*section*/
.story {
    background-color: $purple;
    padding: 30px 0;
    .story_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .story_text {
            max-width: 600px;
            font-family: $PT;
            color: white;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.4px;
        }
    }
}
.story_button_link {
    padding: 24px 70px;
    font-family: $mont;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    color: black;
    text-decoration: none;
    background-color: $beige;
    border-radius: 5px;
    transition: all 0.3s;
}
.story_button_link:hover {
    color: white;
    background-color: black;
}
/*pricing*/
.pricing {
    background-color: $beige;
    padding-top: 61px;
}
.pricing_title {
    display: flex;
    justify-content: center;
}
.title3 {
    display: block;
    margin: 0;
    font-family: $mont;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.pricing_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .card_box {
        width: 318px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        .card_title {
            font-family: $PT;
            font-size: 22px;
            letter-spacing: -0.44px;
            margin: 35px 0 40px 0;
        }
        .card_price {
            margin: 0 0 33px 0;
            font-family: $mont;
            color: $purple;
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -1.2px;
            cursor: default;
            transition: all 0.3s;
        }
        .card_price:hover {
            transform: scale(1.2);
        }
        .card_text {
            margin: 0 0 42px 0;
            text-align: center;
            width: 170px;
            font-family: $PT;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.4px;
        }
        .card_button {
            justify-self: flex-end;
            text-align: center;
            width: 205px;
            background-color: $beige;
            padding: 15px 0;
            text-decoration: none;
            color: black;
            font-family: $mont;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: -0.44px;
            border-radius: 5px;
            transition: all 0.3s;
        }
        .card_button:hover {
            background-color: $purple;
            color: white;
        }
    }
}
.relate {
    position: relative;
}
.add {    
    display:flex;
    align-items: start;
    justify-content: start;
    background-image: url('../images/triangle.png');
    width: 90px;
    height: 90px;
    position:absolute;
    left: 0;
    padding-top: 5px;
}
.popular {
    text-align: center;
    transform: rotate(-50deg);
    font-family: $PT;
    font-size: 16px;
    letter-spacing: -0.32px;
}
/*white*/
.white {
    padding-top: 150px;
    padding-bottom: 120px;
}
.white_box {
    display: flex;
    justify-content: space-between;
}
.white_left {
    max-width: 490px;
}
.testimonial_card {
    margin-top: 60px;
    padding: 10px 75px 10px 25px;
    max-width: 440px;
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
    .testimonial_text {
        font-family: $PT;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.4px;
    }
    .testimonial_name {
        font-family: $mont;
        font-size: 20px;
        letter-spacing: -0.4px;
        color: $purple;
    }
}
.testimonial_card:hover {
    background-color: $beige;
}
.photo {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 10px 3px 15px $grey;
    border: solid 1px transparent;
    transition: all 0.3s;
}
.photo:hover {
    transform: scale(1.2);
    border: 1px solid black;
}
.man {
    background-image: url('../images/man.png');
    position: absolute;
    right: -10%;
    top: 20px;
}
.boy {
    background-image: url('../images/boy.png');
    position: absolute;
    right: -10%;
    top: 20px;
}
.white_right {
    max-width: 390px;
    text-align: center;
}
.gallery_title {
    color: $purple;
}
.gallery {
    height: 260px;
    margin-top: 80px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .woman {
        background-image: url('../images/woman.png');
    }
    .blueberries {
        background-image: url('../images/blueberries.png');
    }
    .lemons {
        background-image: url('../images/lemons.png');
    }
    .cups {
        background-image: url('../images/cups.png');
    }
    .legs {
        background-image: url('../images/legs.png');
    }
    .stones {
        background-image: url('../images/stones.png');
    }
}
.more_pictures {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
.more_link {
    font-family: $mont;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    color: $purple;
    transition: color 0.3s;
}
.more_link:hover {
    color: black;
}
/*footer*/
.footer {
    background-color: black;
    padding: 80px 0;
}
.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .address {
        color: white;
        font-family: $PT;
        font-size: 20px;
        letter-spacing: -0.4px;
    }
    .address:after {
        content: 'DesignCoon';
        color: $purple;
    }
    .footer_logo {
        width: 98px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (max-width: 1050px) {
    // header
    .first {
        padding-bottom: 20px;
    }
    .heading {
        margin-bottom: 80px;
    }
    .header_article {
        margin-top: 0px;
        padding-bottom: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    // form
    .form_section {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    // services
    .services-title_purple {
        text-align: center;
    }
    .services_cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        width: 40%;
        text-align: center;
    }
    .card_icon {
        margin-left: auto;
        margin-right: auto;
    }
    // section
    .story_box {
        flex-direction: column;
    }
    .story_text {
        margin-bottom: 50px;
    }
    .story_text {
        font-style: 16px;
    }
    // pricing
    .pricing_cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card_box {
        margin: 0px 10px 30px 10px;
        padding-bottom: 20px;
    }
    // white
    .white {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .white_box {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .white_left, .white_right {
        margin-left: 30px;
        margin-right: 30px;
    }
    .pricing_title {
        margin-top: 40px;
    }
}


@media screen and (max-width: 785px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .heading {
        flex-direction: column;
        margin-bottom: 40px;
    }
    .header_nav {
        margin-right: auto;
    }
    .header_menu {
        width: 100%;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .menu_link {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 3px 8px;
        line-height: 40px;
    }
    .header_article {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .header_title {
        font-size: 45px;
        text-align: center;
    }
    // form
    .form_section {
        max-width: 300px;
        padding: 10px 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .form_title {
        font-size: 18px;
    }
    .head_form {
        align-items: center;
    }
    .input {
        width: 90%;
        margin-bottom: 15px;
        height: 40px;
    }
    .input::placeholder {
    font-size: 18px;
    }
    .checking {
        .checkbox_text {
            margin-left: 15px;
            font-family: $PT;
            font-size: 15px;
            letter-spacing: -0.4px;
        }
    }
    .submit {
        width: 90%;
    }
    // services 
    .services-title_purple {
        font-size: 45px;
    }
    .services_cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
    }
    // white
    .white {
        padding-bottom: 180px;
    }
    .title3 {
        font-size: 40px;
    }
    .testimonial_card {
        max-width: 400px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial_text {
        font-size: 16px;
        max-width: 400px;
    }
    .white_right {
        margin: 0;
        position: relative;
    }
    .photo {
        margin: 10px;
    }
    .man, .boy {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery_title {
        margin-top: 0px;
    }
    .gallery {
        margin: 30px 0px 30px 0px;
        justify-content: center;
        padding-bottom: 30px;
    }
    // footer
    .footer {
        padding: 50px 0;
    }
    .footer_logo {
        margin-left: 20px;
    }
    .footer_box {
        .address {
            font-size: 16px;
        }
    }
}