.white {
    padding-top: 150px;
    padding-bottom: 140px;
}
.white_box {
    display: flex;
    justify-content: space-between;
}
.white_left {
    max-width: 490px;
}
.testimonial_card {
    margin-top: 60px;
    padding: 10px 75px 10px 25px;
    max-width: 440px;
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
    .testimonial_text {
        font-family: $PT;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.4px;
    }
    .testimonial_name {
        font-family: $mont;
        font-size: 20px;
        letter-spacing: -0.4px;
        color: $purple;
    }
    &:hover {
        background-color: $beige;
    }
}
.photo {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 10px 3px 15px $grey;
    border: solid 1px transparent;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.2);
        border: 1px solid black;
    }
}
.man {
    background-image: url('../images/man.png');
    position: absolute;
    right: -10%;
    top: 20px;
}
.boy {
    background-image: url('../images/boy.png');
    position: absolute;
    right: -10%;
    top: 20px;
}
.white_right {
    max-width: 390px;
    text-align: center;
}
.gallery_title {
    color: $purple;
}
.gallery {
    height: 260px;
    margin-top: 80px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .photo {
       margin-bottom: 15px;
    }
    .woman {
        background-image: url('../images/woman.png');
    }
    .blueberries {
        background-image: url('../images/blueberries.png');
    }
    .lemons {
        background-image: url('../images/lemons.png');
    }
    .cups {
        background-image: url('../images/cups.png');
    }
    .legs {
        background-image: url('../images/legs.png');
    }
    .stones {
        background-image: url('../images/stones.png');
    }
}
.more_pictures {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
.more_link {
    font-family: $mont;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    color: $purple;
    transition: color 0.3s;
    &:hover {
        color: black;
    }
}